node_modules/
.cache/
public/
npm-debug.log
.eslintcache
.gatsby-context.js
.idea
gatsby-starter-lumen.iml
OG_README.md
docker-compose.development.yml
docker-compose.production.yml
Dockerfile.development
Dockerfile.production
content/posts/ignore
